@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  background: #000;
  color: #fff;
}
.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}
